.title{
   text-align: center;
   margin-bottom: 30px;
   color: black;
   text-transform: uppercase;
   font-size: 35px;
}

.alert .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap:1.5rem;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.alert .container .box{
  padding: 10px 15px;
  border:2px dashed black;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0,0,0,.2);
  border-radius: 15px;
}

.alert .container .box p{
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  line-height: 1;
}

.alert .container .box p span{
  color: #00918b;
}

.container .box .content{
 color: black;
 background-color: rgb(220, 220, 220, 0.5);
 width: 99%;
 max-width: 99%;
 font-size: 15px;
 border-radius: 5px;
 border:1px dashed black;
 padding: 8px;
 box-sizing: border-box;
 min-height: 45px;
 height: 80px;
}

.alert .container .box .btn{
  width: 32.5%;
  padding: 5px 0;
  border: 2px solid black;
  background: #ff57a2;
  border-radius: 7px;
  margin-bottom: 15px;
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.alert .container .box .btn:hover{
  background: #f72585;
  cursor: pointer;
}
